.forms__center {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.forms__left {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0 20px;
}

.forms__container {
  background: #f1f1f1;
  padding: 20px;
}

@media (max-width: 800px) {
  .forms__center,
  .forms__left {
    width: 80%;
    margin: 0 auto;
  }
}
