.forms__center {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.forms__left {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0 20px;
}

.forms__container {
  background: #f1f1f1;
  padding: 20px;
}

.forms__container .forms__title {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1em;
}

@media (max-width: 800px) {
  .forms__center,
  .forms__left {
    width: 80%;
    margin: 0 auto;
  }
}
